import React, { PureComponent } from 'react'
//import styled from 'styled-components'
// import {
//   number,
//   string,
//   bool,
//   node,
//   func,
//   object,
//   array,
//   oneOf,
//   oneOfType,
// } from 'react-proptypes'
// import emptyFunction from 'fbjs/lib/emptyFunction'

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

export default class {{ properCase name }} extends PureComponent { // eslint-disable-line react/prefer-stateless-function
  static propTypes = {
  }

  static defaultProps = {
  }

  render() {
    return (
      <div>
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    )
  }
}
